<mat-toolbar class="navbar">
  <h1 class="navbar-logo">MyFlix</h1>
  <span class="example-spacer"></span>
  <div class="menu-l">
    <button mat-button routerLink="/movies">Movies</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button (click)="logoutUser()">Logout</button>
  </div>

  <div class="menu-s">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <button mat-button routerLink="/movies">Movies</button>
      </button>
      <button mat-menu-item>
        <button mat-button routerLink="/profile">Profile</button>
      </button>
      <button mat-menu-item>
        <button mat-button (click)="logoutUser()">Logout</button>
      </button>
    </mat-menu>
  </div>



</mat-toolbar>
