<div class="movie-page">
  <app-navbar></app-navbar>
  <div class="movie-container">
    <mat-card *ngFor="let movie of movies" class="movie-item">
      <mat-card-header>
        <mat-card-title class="movie-title">{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <img class="movie-image" src="{{ movie.image }}" alt="{{ movie.title }}" />
      <mat-card-actions>
        <button
          (click)="getGenreDetails(movie.genre)"
          mat-button
          class="details"
        >
          Genre
        </button>
        <button
          (click)="getDirectorDetails(movie.director)"
          mat-button
          class="details"
        >
          Director
        </button>
        <button
          (click)="getMovieDetails(movie.description)"
          mat-button
          class="details"
        >
          Synopsis
        </button>

        <button class="like" *ngIf="!isFavorite(movie._id)" mat-icon-button (click)="addFavorite(movie._id)" matTooltip="Add to favorites">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button class="like" *ngIf="isFavorite(movie._id)" mat-icon-button (click)="removeFavorite(movie._id)" matTooltip="Remove from favorites">
            <mat-icon>favorite</mat-icon>
          </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
