.form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    
}

.btn {
    margin: 5px auto;
    padding: 1.5rem;
    font-size: 18px;
    background-color: #663f46!important;
    color: #e8f7ee!important; 
    width: 90%;
}