.dialog-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1px;
    border-bottom: 1px solid #3c362a;
    max-width: 90%;
}

.dialog-content{
    margin-top: 1rem;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
  }

.dialog-btn {
 display: block;
 float: right;
 background-color: #3c362a;
 color: #e8f7ee;
 font-size: 14px;
 letter-spacing: 1px;
 flex-direction: row-reverse;
 margin: 0.5rem;
}

